{{define "base_template_path"}}resources/views/layout_base.html{{end}}

{{define "title"}}
Authduck | Generic OIDC Callback
{{end}}

{{define "body"}}
<article>
  <figure>
    <img src="./tacit_logo.png" alt="tacit logo" style="max-height: 100px;"/>
  </figure>
  <h1>Callback Endpoint</h1>
  <p>
  This is the <strong>callback</strong> page of Authduck. Usually this page is accessed when the OIDC client initiating the authorization code flow.</p>

  <a href="#" target="_blank" id="client_history_link">see client history</a>

  <h2>Request</h2>
  <p>This is the details of request made to this page:</p>
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody id="request-params-table"></tbody>
  </table>

  <h2>Callback Payload</h2>
  <p>This is the details of payload which would be used as callback query params:</p>
  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody id="callback-payload-table">
    </tbody>
  </table>

  <button type="submit" onclick="redirectToCallback()">Return to client</button>

</article>
<script>
  // ref: https://cheatsheets.zip/generate-a-random-string-with-given-length
  const generateString = length => Array(length).fill('').map((v) => Math.random().toString(36).charAt(2)).join('')

  const queryParams = new URLSearchParams(window.location.search)
  const requestParamTable = document.getElementById('request-params-table')
  const callbackPayloadTable = document.getElementById('callback-payload-table')
  const callbackCode = generateString(20)

  Array.from(queryParams.entries()).map(
    row => requestParamTable.innerHTML += `
        <tr>
          <td>${row[0]}</td>
          <td>${row[1]}</td>
        </tr>
    `
  )

  callbackPayloadTable.innerHTML += `
        <tr>
          <td>callback url</td>
          <td>${queryParams.get('redirect_uri')}</td>
        </tr>
        <tr>
          <td>state</td>
          <td>${queryParams.get('state')}</td>
        </tr>
        <tr>
          <td>code</td>
          <td>${callbackCode}</td>
        </tr>
  `

  document.getElementById('client_history_link').href = `/manage/history?id=${queryParams.get('client_id')}`

  function redirectToCallback() {
    let finalCallbackUrl = new URL(queryParams.get('redirect_uri'))

    finalCallbackUrl.searchParams.set('state', queryParams.get('state'))
    finalCallbackUrl.searchParams.set('code', callbackCode)

    if (window.confirm(`Are you sure you want to redirect to ${finalCallbackUrl} ?`)) {
      window.location = finalCallbackUrl
    }
  }
</script>
{{end}}
