{{define "base_template_path"}}resources/views/layout_base.html{{end}}

{{define "title"}}
Authduck | Generic OIDC Callback
{{end}}

{{define "body"}}
<article>
  <figure>
    <img src="/assets/logo.png" alt="authduck logo" style="max-height: 100px;"/>
  </figure>
  <h1>Callback Endpoint</h1>
  <p>
  This is the <strong>callback</strong> page of Authduck. Usually this page is accessed when the OIDC client initiating the authorization code flow.</p>

  <a href="#" target="_blank" id="client_history_link">see client history</a>

  <form action="./callback" method="post">

  <input type="hidden" id="client_id" name="client_id">

  <h2>Request</h2>
  <p>This is the details of request made to this page:</p>
  <textarea id="request_payload" style="width:100%" rows="5" disabled></textarea>

  <h2>Callback Payload</h2>
  <p>This is the details of payload which would be used as callback query params:</p>
  <textarea id="callback_payload" name="callback_payload" style="width:100%" rows="5"></textarea>

  <h2>Code Exchange Payload</h2>
  <p>This is the details of payload which would be returned when client exchanging the authorization code defined above. For the 'alg' field, available options are: RS256, ES384, and EdDSA.</p>
  <label for="access_token_payload">Access Token Payload</label>
  <textarea id="access_token_payload" name="access_token_payload" style="width:100%" rows="5"></textarea>
  <label for="id_token_payload">ID Token Payload</label>
  <textarea id="id_token_payload" name="id_token_payload" style="width:100%" rows="5"></textarea>

  <button type="submit">Continue OIDC Process</button>
  </form>

</article>
<script>
  // ref: https://cheatsheets.zip/generate-a-random-string-with-given-length
  const generateString = length => Array(length).fill('').map((v) => Math.random().toString(36).charAt(2)).join('')

  const queryParams = new URLSearchParams(window.location.search)
  const requestPayload = document.getElementById('request_payload')
  const callbackPayload = document.getElementById('callback_payload')
  const accessTokenPayload = document.getElementById('access_token_payload')
  const idTokenPayload = document.getElementById('id_token_payload')
  const authorizationCode = generateString(20)
  const currentTimestamp = Math.floor(Date.now() / 1000)

  requestPayload.value = JSON.stringify(Object.fromEntries(queryParams.entries()), null, 2)

  callbackPayload.value = JSON.stringify({
    redirect_uri: queryParams.get('redirect_uri'),
    state: queryParams.get('state'),
    code: authorizationCode,
  }, null, 2)

  const accessTokenData = {
    alg: 'RS256',
    sub: 'random_subject_id',
    iss: window.location.hostname,
    aud: queryParams.get('redirect_uri'),
    iat: currentTimestamp,
    exp: currentTimestamp + 3600,
  }

  const idTokenData = {
    ...accessTokenData,

    // openid payload
    name: 'John Doe',
    email: 'mail@example.com',
  }

  accessTokenPayload.value = JSON.stringify(accessTokenData, null, 2)
  idTokenPayload.value = JSON.stringify(idTokenData, null, 2)

  document.getElementById('client_history_link').href = `/manage/history?id=${queryParams.get('client_id')}`
  document.getElementById('client_id').value = queryParams.get('client_id')

</script>
{{end}}
