{{define "base_template_path"}}resources/views/layout_base.html{{end}}

{{define "title"}}
Authduck | Home
{{end}}

{{define "body"}}
<article>
  <figure>
    <img src="/assets/logo.png" alt="authduck logo" style="max-height: 100px;"/>
  </figure>
  <p>
    <strong>Authduck</strong> is an <a target="_blank" href="https://openid.net/developers/how-connect-works/">OpenID Connect</a> <strong>server</strong> playground built for development or learning. You could use this website or <a target="_blank" href="https://github.com/azophy/authduck">install it yourself</a>.</p>

  <p>To start playing with this tools, you could use any OIDC client you have (for example: <a href="https://openidconnect.net" target="_blank">openidconnect.net</a> , an OIDC client playground by <a href="https://auth0.com" target="_blank">Auth0</a>), and then use the <a href="./case/general/.well-known/openid-configuration">/.well-known/openid-configuration</a> path to populate all the required fields.</p>
</article>
{{end}}
