{{define "resources/views/layout_base.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="css, html5, css framework"/>
    <meta name="description" content="OpenID Connect Server Playground for Development & Learning"/>
    <link rel="stylesheet" href="/assets/tacit.min.css"/>
    <title>{{template "title" .}}</title>
    <link rel="icon" type="image/png" href="/assets/logo.svg"/>
    <script src="/assets/htmx.min.js"></script>
  </head>
  <body>
    <section>
      <!--
      <header>
        <nav>
          <ul>
            <li><a href=".">home</a></li>
            <li><a href=".">about</a></li>
            <li><a href=".">projects</a></li>
            <li><a href=".">talks</a></li>
          </ul>
        </nav>
      </header>
      -->
      {{template "body" .}}
      <footer>
        <nav>
          <ul>
            <li>
              <small>Made by <a target="_blank" href="https://abdurrahman.adianto.id">azophy</a>, 2024</small>
            </li>
            <li>Styled using <small><a href="https://github.com/yegor256/tacit">tacit</a></small></li>
          </ul>
        </nav>
      </footer>
    </section>
  </body>
</html>
{{end}}
